.input {
  background-color: transparent;
  outline: 1px solid var(--color-gray);
  border: none;
  border-radius: var(--border-radius-7);
  font-size: 14px;
  padding-inline: 20px;
  padding-block: 6px;
  color: var(--color-dark);
  font-weight: 500;
  width: 600px;
  height: 40px;
}

.input:focus {
  outline: 2px solid var(--color-dark);
}

.input::placeholder {
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}
