.input {
  background-color: transparent;
  outline: 1px solid var(--color-gray);
  border: none;
  border-radius: var(--border-radius-1);
  font-size: 14px;
  padding-inline: 8px;
  padding-block: 6px;
  color: var(--color-dark);
  font-weight: 500;
  width: 300px;
}

.input:focus {
  outline: 2px solid var(--color-dark);
}
