.container {
  border-radius: var(--border-radius-3);
  background-color: var(--color-light-blue);
  padding-inline: 15px;
  padding-block: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 210px;
  box-shadow: var(--box-shadow-4);
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
