.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchContainer {
  width: 90%;
  margin-bottom: 20px;
}

.searchContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.searchIcon {
  width: 20px;
  cursor: pointer;
}

.inputContainer {
  margin-left: 20px;
  margin-right: 25px;
}

.parametersIcon {
  width: 20px;
  margin-right: 25px;
}
.selectContainer {
  margin-right: 20px;
}

.sortIconContainer {
  width: 25px;
}

.customersContainer {
  width: 90%;
  height: 500px;
}

.customersContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.customersListButtonsContainer {
  align-self: flex-end;
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.customersListButton {
  width: 25px;
  cursor: pointer;
}

.customersListHeaders {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 15px;
}

.headersContainer {
  display: flex;
  margin-bottom: 5px;
}

.header {
  font-size: 14px;
}

.header[data-id] {
  margin-left: 35px;
  margin-right: 180px;
}

.header[data-name] {
  margin-right: 230px;
}

.header[data-email] {
  margin-right: 110px;
}

.header[data-money] {
  margin-right: 105px;
}

.headersUnderline {
  width: 100%;
  height: 1px;
  background-color: var(--color-dark);
}

.customersList {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
