.onboardSidebar {
  /* outline: 1px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-block: 5px;
  gap: 50px;
}
