.onboardSidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-block: 5px;
  gap: 50px;
}

.dashboardSidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 40px;
}

.navItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
