.tile {
  background-color: var(--color-white);
  border-radius: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-inline: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 290px;
}
