.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--color-dark);
  margin-bottom: 50px;
  width: 350px;
  line-height: 28px;
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  gap: 35px;
}
.buttonIcon {
  width: 30px;
  margin-left: 15px;
}
