.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 20px;
}

.header {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--color-dark);
  margin-bottom: 50px;
  width: 350px;
  line-height: 30px;
}

.form {
  width: fit-content;
  display: flex;
  gap: 100px;
  margin-bottom: 70px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.buttonIcon {
  width: 20px;
  margin-left: 15px;
}

.agreementsContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.step2Container {
  margin-top: 60px;
  display: flex;
  gap: 100px;
  margin-bottom: 50px;
}

.agreementLink {
  color: var(--color-dark);
  text-underline-offset: 1px;
}
