.layout {
  display: flex;
  background-color: antiquewhite;
}

.main {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
