:root {
  --color-dark: #2c3e50;
  --color-blue: #3399ff;
  --color-teal: #4ca8af;
  --color-light-teal: #a8dadc;
  --color-light-gray: #e0e5ec;
  --color-dark-white: #e6f0fa;
  --color-white: #f0f8ff;
  --color-red: #f4b6b6;
  --color-orange: #f8cba6;
  --color-gray: #9aa3ae;
  --color-cyan: #a8dadc;
  --color-green: #b7e1a1;
}
