::-webkit-scrollbar {
  display: none;
}

.layout-container {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-blue-transparent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
