.item {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-6);
  padding-inline: 8px;
  padding-block: 8px;
  box-shadow: var(--box-shadow-5);
  font-size: 12px;
  font-weight: 400;
}

.tile {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: var(--border-radius-7);
  padding-block: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.id {
  width: 80px;
  margin-right: 25px;
}

.orderClient {
  width: 210px;
  margin-right: 25px;
}

.orderDate {
  width: 190px;
  margin-right: 25px;
}

.orderDate span {
  display: inline-block;
  margin-right: 45px;
}

.orderSum {
  width: 100px;
  margin-right: auto;
}

.orderEdit {
  width: 25px;
  cursor: pointer;
}

.orderStatus {
  width: 130px;
  margin-left: 30px;
  margin-right: 35px;
}

.productTitle {
  width: 270px;
  margin-right: 15px;
}

.productCategory {
  width: 170px;
  margin-right: 15px;
}

.productPrice {
  width: 90px;
  margin-right: 15px;
}

.productAmount {
  width: 80px;
  margin-right: 20px;
}

.productStatus {
  width: 130px;
  margin-left: 20px;
  margin-right: 20px;
}

.customer {
  background-color: var(--color-cyan);
}

.customerName {
  width: 270px;
  margin-right: 15px;
}

.customerEmail {
  width: 240px;
  margin-right: 15px;
}

.customerAverageMoney {
  width: 100px;
  margin-right: 30px;
}

.customerStatus {
  width: 120px;
  margin-left: 20px;
}
