.label {
  /* custom-checkbox-label */
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 0; /* Убираем стандартный отступ, если есть */
  font-size: 16px;
  line-height: 24px;
  outline: 1px solid green;
}

.originalCheckbox {
  /* custom-checkbox-input */
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckbox {
  /* custom-checkbox-box */
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid var(--color-gray);
  border-radius: 4px;
  background-color: transparent;
  margin-right: 10px;
  vertical-align: middle;
  content: '';
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.text {
  text-align: center;
  outline: 1px solid black;
  line-height: 15px;
  width: 280px;
  font-size: 13px;
  font-weight: 300;
  color: var(--color-dark);
  margin-right: 20px;
}

.originalCheckbox:checked + .customCheckbox {
  border-color: var(--color-dark);
}

.customCheckbox::after {
  content: '✓';
  font-size: 20px;
  top: 1px;
  left: 6px;
  position: absolute;
  display: none;
}

.originalCheckbox:checked + .customCheckbox::after {
  display: block;
}
