.label {
  outline: 1px solid var(--color-gray);
  border-radius: var(--border-radius-1);
  padding: 20px;
  width: fit-content;
}

.icon {
  width: 60px;
}

.input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
