.nav {
  position: sticky;
  top: 0px;
  width: 280px;
  height: 100vh;
  background-color: var(--color-dark);
  color: var(--color-white);
  font-weight: 700;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  transform: scale(4);
  width: 100%;
  height: 100%;
  object-fit: contain;
}
