.container {
  width: 520px;
  height: 190px;
  background-color: var(--color-dark-white);
  outline: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius-6);
  padding: 20px;

  display: flex;
  gap: 30px;
  position: relative;
}

.editIcon {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
}

.editIcon img {
  width: 25px;
}

.profileImage {
  width: 152px;
  height: 152px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-2);
  outline: 1px solid var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: end;
}

.profileImage img {
  width: 90%;
  height: 90%;
}

.info {
  color: var(--color-dark);
  font-weight: 700;
  letter-spacing: 1px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.name {
  font-size: 15px;
  margin-bottom: 15px;
}

.email {
  font-size: 14px;
  margin-bottom: auto;
}

.role {
  font-size: 12px;
  align-self: flex-end;
  padding-inline: 10px;
  padding-block: 5px;
  width: 210px;
  border-radius: var(--border-radius-6);
  display: flex;
  justify-content: center;
  align-items: center;
}
