.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminsContainer {
  width: 95%;
  height: 600px;
}

.adminsContentContainer {
  padding-top: 20px;
  height: 100%;
  display: grid;
  grid-template-columns: 525px 525px;
  justify-content: center;
  row-gap: 50px;
  column-gap: 30px;
  align-content: start;
}
